h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3 rem;
  line-height: 1.5;
  font-weight: 900;
  text-align: left;
}


h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5 rem;
    line-height: 1.5;
    font-weight: 500;
}

p{
    color: gray;
}

body{
    font-family: 'Ubuntu', sans-serif;
}



#title{
    background-color: whitesmoke;
    
    
}

.container-fluid{
    padding: 3% 15%;
}

#apple{
    color: black;
    width: 100px;
}
#android{
    width: 100px;
}

/* navbar */


.navbar-brand
{
    
    font-size: 2.5rem;
}

.nav-item{
    padding: 0px 18px;
}

.container{
    padding-top: 30px;
}

.col{
    padding-top: 5px;
}


/* button */
.joinbtn
{
    margin: 5px 5px 5px 5px;
}

.title-img
{
    padding-left: 40px;
    padding-right: 0;
}

.photo
{
    padding-right: 0;
    transform:rotate(10deg)
}

/* section middle */

.features
{
    padding: 7% 17%;
}
.feature-box
{
    text-align: center;
    padding: 6%; 
}

.icon{
    margin-bottom: 1rem;
}

/* testimonials */

#testimonials
{
    background-color: whitesmoke;
    padding: 5% 17%;
    text-align: center;
}

.testimonial-pic
{
   width: 10%;
   height: 10%;
   border-radius: 100%;
   margin: 20px;

}

#press
{
    background-color: whitesmoke;
    text-align: center;
}
.press-img{
    width: 11%;
    padding: 0 30px 0;
}